h1{
    text-align: center;
    color: white;
    font-family: sans-serif;
    background-color: peru;
}

figure{
    position: absolute;
    top: 100px;
    left:0;
    width: 300 px;
}

figure img {
    width: 300px;

}

main {
    position: absolute;
    top: 100px;
    left: 400px;
}

#fDescripcio{
    display: none;
}

#capaError {
    background-color: red;
    color: white;
}

.error {
    border:1px solid red;
}