body{
    background-color: aliceblue;
}

h1{
    margin: 2% auto;
    text-align: center;
}


.menu{
    text-align: center;
    margin: 2% auto;
}

#contadores{
    background: rgba(0, 100, 255, 0.35);
}

td, th{    
    padding: .2em .8em;
    border: 1px solid rgba(16,76,167,.25);
    background: rgba(90,156,255,.25);
    text-align: left;
}

th{
    background: rgba(0, 100, 255, 0.35);  
}

td {
    display: table-cell;
    vertical-align: inherit;
}

table {
    margin: 2% auto;
    align-tracks: center;
    align-content: center;
    align-items: center;
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;

}