* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1b222b;
}

form {
  width: 550px;
  background: #24303c;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  border-radius: 10px;
  font-family: 'JetBrains Mono', 'calibri', 'Arial';
  color: white;
  box-shadow: 10px 15px 40px #000;
}

form h4 {
  font-size: 22px;
  margin-bottom: 20px;
}

input {
  width: 100%;
  background: #24303c;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  margin-bottom: 16px;
  border: 2px solid #0a1b31;
  font-family: 'JetBrains Mono', 'calibri', 'Arial';
  font-size: 18px;
  color: white;
}

form p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}

form a {
  color: white;
  text-decoration: none;
}

form a:hover {
  color: white;
  text-decoration: underline;
}

form button {
  width: 100%;
  background: #1f53c5;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
}

.error {
  text-decoration: none;
  text-align: left;
  font-size: 18px;
  color: rgba(230, 66, 66, 0.87);
}