html, body {
width: auto;
height: auto;
font-family:Verdana, Geneva, sans-serif;
font-weight:bold;
background-color:rgb(255, 254, 254);
}
header{
position:relative;
background-color:rgb(221, 93, 18);
color:#FFF;
margin: 0px;
padding: 5px 20px ;
display: flex;
vertical-align: middle;
}

section{
position:relative;
background-color:#777;
color:#FFF;
padding: 5px;
}
article{
position:relative;
background-color: rgb(198, 215, 221);
color:#FFF;
margin: 0px;
padding: 10px;
}

footer{
position:relative; 
background-color:rgb(180, 140, 142);
color:#FFF;
clear:both;
padding:5px;
}
header,section,footer,article{
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
margin:0.5%;
}

header img {
width: 100px;

}

.titol {
margin: auto;
width: 50%;
}
label,legend{
color: black;
}
legend{
font-size: x-large;
} 

.buEnviar {
box-shadow:inset 0px 0px 15px 3px #23395e;
background:linear-gradient(to bottom, #2e466e 5%, #415989 100%);
background-color:#2e466e;
border-radius:17px;
border:1px solid #1f2f47;
display:inline-block;
cursor:pointer;
color:#ffffff;
font-size:20px;
padding:6px 13px;
text-decoration:none;
text-shadow:0px 1px 0px #263666;
margin: 15px;
}
.buEnviar:hover {
background:linear-gradient(to bottom, #415989 5%, #2e466e 100%);
background-color:#415989;
}
.buEnviar:active {
position:relative;
top:1px;
}
.formInfo{
color: #415989; 
font-size: small;
}

.modal-contenido{
background-color: rgb(221, 93, 18);
width:300px;
padding: 10px 20px;
margin: 20% auto;
position: relative;
}
.modal{
background: rgba(0, 0, 0, 0.3);
position:fixed;
top:0;
right:0;
bottom:0;
left:0;
opacity: 0;
pointer-events:none;
transition: all 1s;
}
#miModal:target{
opacity:1;
pointer-events:auto;
}